/* quiz.module.css */
.quiz-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('/quiz-bg.png');
  background-size: cover;
  background-position: center;
}

.question-container {
  width: 80%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 12px;
  font-size: 40px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.characters-container {
  display: flex;
  justify-content: center;
  gap: 250px;
  width: 100%;
}

.character {
  width: 20%;
  height: auto;
}

.choices-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.choice {
  width: 21%;
  height: 66px;
  background-color: rgb(213, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 6px;
  font-size: x-large;
  color: white;
  border: 1.5px solid rgb(73, 4, 4);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choice:hover{
  background-color: rgb(183, 39, 39);
  cursor: pointer;
  border: 3.5px solid rgb(73, 4, 4);
}